@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

* {
  padding: 0 auto;
  margin: 0;
  box-sizing: border-box;
}
